<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Intro</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script defer src="app.js"></script>
</head>
<body>
    <div id="app">
        <h1>Batman quotes <small>{{ newQuote }}</small></h1>
        <input type="text"
            v-model="newQuote"
            v-on:keypress.enter="onAddQuote">
        <hr>
        <ul>
            <li v-for="({ quote, author }, index) of quotes">
                <span>{{ index + 1 }} - {{ quote }}</span>
                <!-- ! v-if como ngIf: no construye el elemento -->
                <!-- <blockquote v-if="author">- {{ author }}</blockquote> -->
                <!-- ! v-show construye el elemento con display: none -->
                <blockquote v-show="author">- {{ author }}</blockquote>
            </li>
        </ul>
    </div>
</body>
</html>