.fade-in {
    --duration: 300ms;
    animation: fadeIn var(--duration);
    -webkit-animation: fadeIn var(--duration);
    -moz-animation: fadeIn var(--duration);
    -o-animation: fadeIn var(--duration);
    -ms-animation: fadeIn var(--duration);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
